body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Montserrat', sans-serif;
}

#about-text p{
    color: #4b5d67;
    padding:2rem 10rem;
    line-height: 1.8;
    font-size: 1.2rem;
}
/* genral classes */
.center-align{
    text-align: center;
}

.text-highlight{
    color:#ff5f40;
}

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgrey;
}

section:nth-child(2n+1){
    background-color: aliceblue;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    display:inline-block;
    padding-top: 10px;
    margin-right: 0.54rem;
    color: #2857a4;
}

.mb75px{
    margin-bottom: 75px;
}

.mb-blue{
background-color: #2857a4;
}

.mb-red{
    background-color: #e11d74;
}

.mb-green{
    background-color:#00bdaa;
}

.mb-orange{
    background-color:#fc7e2f;
}

/* percent-classes */
.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.eighty-percent{
    width: 80%;
    height: inherit;
}

.seventy-five-percent{
    width: 75%;
    height: inherit;
}

.ninty-percent{
    width: 90%;
    height: inherit;
}
/* body header */
#body-header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(static/laptop.jpg);
    opacity: 0.9;
    height: 75vh;
    /* width: 100vh; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* navigar=tion rules.. */
.hr-list{
    margin: 0px;
    text-decoration: none;
}
.hr-list li{
    margin: auto;
    display: inline-block;
    font-size: 20px;
}

.hr-list li a{
    color: aliceblue;
    text-decoration: none;
    
}

.nav-menu li {
    padding: 20px;
}

.nav-menu li a:hover{
       border-bottom: 1px solid white;
       color: azure;
       transition: color 0.5s, border 0.5s; 
}

/* my name */
#name{
    margin-top:150px;
    font-size: 3rem;
    letter-spacing: 10px;
    color: white;
    font-weight: 700;
}

/* social icons */
.social-icons li{
    padding:10px;
}

.social-icons li a i{
    border-radius: 50%;
    padding: 10px;    
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px grey;
    list-style: none;
    text-decoration-style: none;
}

/* about section */
#about{
    height: auto;
    width: 100%;
    
}

#about-text{
    width: 70%;
}
#my-image img{
    height: 290x;
    width: 290px;
    border-radius: 50%;
    margin-top: -127px;
    position: relative;   
    box-shadow: 0px 0px 6px 4px grey;
}

/* about section */
.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden; 
    align-content: center;
    /* margin: 30px; */
}

.skill-progress{
   width: 15rem;
   height:2.5rem;
   /* margin-top: 2rem; */
   margin:25px;
   background-color: lightblue;
   border-radius: 22px;
   box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
   
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name{
    position: absolute;    
}
.skill-name span{
    color: white;
    font-size: 1rem;
    position:relative;
    top:12px;
    left: 80px;
}


/* experience */




/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}


/* contact secction */
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

/* #contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

} */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
